@import "tailwindcss";
@plugin "daisyui" {
   themes: all;
}

@theme {
  --font-sans: "Trebuchet MS", "Segoe UI", sans-serif;
}

@layer base {
  html {
    min-width: 320px;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
  }
}
